.calendar-event-panel .yui3-overlay-content {
    background: transparent;
    margin: 0px;
    border-radius: 65px;
    border: none;

}
.yui3-overlay-hidden {
    /*visibility: visible;*/
    width: auto;
    opacity: 0.8;
}
.calendar-event-panel {
    opacity: 0.8;
}

.calendar-event-panel h2 {
    font-size: 16px;
    background: transparent;
    color: #ffffff;
}
.my_calendar_header_divider{
    border: thin dotted #808080;
}
.my_calendar caption {
    /*border-bottom: thin dotted lightgray;*/
}
.my_calendar {
    border-bottom: thin dotted #D3D3D3;
    border-top: thin dotted #D3D3D3;
}
