/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

/*Added by Abdul
----------------------------------------*/
.header {
    background: none repeat scroll 0 0 #00859b;
    margin-top: -8px;
}

.block {
    background-color: #F5F5F5;
}

.block .header h2 {
    color: #FFFFFF;
    text-shadow: none;
}


.btn:focus{
    outline:thin dotted transparent;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}

.login_info {
    float: right;
}
body {
    padding-top: 10px;
    font-family: MuseoSans-300;
}

.logo_area {
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
}

/*==============================================================*/
