/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

/*Added by Abdul
----------------------------------------
.header {
    background: none repeat scroll 0 0 inactivecaption;
    margin-top: -8px;
}

.block {
    background-color: #FAF0E6;
}
*/

.btn:focus{
    outline:thin dotted transparent;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}

.login_info {
    float: right;
}